<h1>Hello World from hello file</h1>

<%= 5+5%><br />
<% var = "this is syntax to show variable"%>
<%= 'hello #{ is processing with the value of val from above}'%>

<br />
<% @array.each do |n| %>
<%= n %> <br />
<% end %>
